  
  .msgView{
    float: right;
    margin-right: 25%;
    margin-top: 15%;
    height: 200;
    width: 550;
  }
  .contactUpdateView{
    display: block;
    margin-left : 30%;
  }

 .contactView{
    float: right;
    margin-right: 25%;
    margin-top: 15%;
    height: 200;
    width: 550;
 }

.contactsView{
    height: auto;
    width: 30%;
    padding-left: 10;
    display: block;
    float: left;
}